<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/Webflix-icon.png" type="image/x-icon">
    <title>Admin Dashboard</title>
</head>
<body>
    <!--  Nav-Bar      -->
    <nav class="nav" id="nav">
        <div class="nav_subdiv">
            <img src="/media/Webflix-logo-3.png" alt="logo" class="nav_logo"/>
            <h2>Admin DashBoard</h2>
        </div>
        <img src="/media/Webflix-avatar.png" alt="avatar" class="nav_avatar"/>
    </nav>
    
</body>
</html>