<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/Webflix-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/create-list.css">
    <title>WebFlix-Admin</title>
</head>
<body>
    <form class="form-class" action="" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label><br>
            <input class="form-input" id="title" type="text" placeholder="Title">
        </div>
        <div>
            <label for="description">Description</label><br>
            <input class="form-input" id="desc" type="text" placeholder="Description">
        </div>
        <div>    
            <label for="image">Image</label><br>
            <input class="form-input" id="img" type="text" placeholder="Image">
        </div>
        <div>    
            <label for="video">Video</label><br>
            <input class="form-input" id="video" type="file" accept="video/mp4" placeholder="Video">
        </div>
        <div>    
            <label for="year">Year</label><br>
            <input class="form-input" id="year" type="text" placeholder="Year">
        </div>
        <div>    
            <label for="genre">Genre</label><br>
            <select class="form-input" name="genre" id="genre">
                <option value="action">action</option>
                <option value="drama">drama</option>
                <option value="si-fi">si-fi</option>
                <option value="comedy">comedy</option>
                <option value="horror">horror</option>
                <option value="fantasy">fantasy</option>
                <option value="mystery">mystery</option>
            </select>
        </div>
        <div>    
            <label for="limit">Age Limit</label><br>
            <input class="form-input" id="limit" type="number" placeholder="Age Limit">
        </div>
        <div>
            <label for="banner">Banner</label><br>
            <input class="form-input" id="banner" type="text" placeholder="Banner">
        </div>
        <div>
            <label for="isSeries">Is Series</label>
            <input type="checkbox" name="isSearies" id="isSeries" value="true"><br>
        </div>
        <button class="submitBtn" id="submit" type="submit">Create</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const title = document.getElementById('title')
        const desc = document.getElementById('desc')
        const img = document.getElementById('img')
        const video = document.getElementById('video')
        const year = document.getElementById('year')
        const limit = document.getElementById('limit')
        const genre = document.getElementById('genre')
        const banner = document.getElementById('banner')
        const isSeries = document.getElementById('isSeries')
        const submitBtn = document.getElementById('submit')

        submitBtn.addEventListener('click',async(e)=>{
            e.preventDefault()
            try{
                // ------------   first uploading video to server and getting url----------//
                let videoFile = video.files[0];
                if (!videoFile){
                    alert('No video selected')
                }
                else{
                    let token = localStorage.getItem('token')
                    // Using a built in JS object (FormData) to handle files
                    let formData = new FormData();
                    // appending file to form data
                    formData.append('file',videoFile)
                    // making a post request to upload
                    let result = await axios.post('http://localhost:3000/movie/upload',formData,  {headers: { 'Authorization': token }})

                    if(result.data.success){
                        //------------ now posting the movie obejct to database---------------//
                        let obj = {
                            title : title.value,
                            desc : desc.value,
                            img : img.value,
                            video : result.data.fileurl,
                            year : year.value,
                            banner : banner.value,
                            limit : limit.value,
                            genre : genre.value,
                            isSeries : isSeries.checked ? true : false
                        }
        
                        let response = await axios.post('http://localhost:3000/movie/create',obj,{headers:  {Authorization : token}})
        
                        title.value = '';
                        desc.value = '';
                        img.value = '';
                        video.value = '';
                        year.value = '';
                        limit.value = '';
                        banner.value = '';
                        if (response.data.movie){
                            console.log(response.data.movie)
        
                        }
                        else{
                            console.log(response.data.msg)
                        }

                    }
                    else{
                        alert(result.data.msg)
                    }
                }
            }
            catch(err){
                console.log(err)
            }
        })

    </script>
</body>
</html>