<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/Webflix-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/create-list.css">
    <title>WebFlix-Admin</title>
</head>
<body>
    <form class="form-class" action="">
        <div>
            <label for="title">Title</label><br>
            <input class="form-input" id="title" type="text" placeholder="Title">
        </div>
        <div>
            <label for="description">Description</label><br>
            <input class="form-input" id="desc" type="text" placeholder="Description">
        </div>
        <div>    
            <label for="image">Image</label><br>
            <input class="form-input" id="img" type="text" placeholder="Image">
        </div>
        <div>    
            <label for="video">Video</label><br>
            <input class="form-input" id="video" type="text" placeholder="Video">
        </div>
        <div>    
            <label for="year">Year</label><br>
            <input class="form-input" id="year" type="text" placeholder="Year">
        </div>
        <div>    
            <label for="genre">Genre</label><br>
            <select class="form-input" name="genre" id="genre">
                <option value="action">action</option>
                <option value="drama">drama</option>
                <option value="si-fi">si-fi</option>
                <option value="comedy">comedy</option>
                <option value="horror">horror</option>
                <option value="fantasy">fantasy</option>
                <option value="mystery">mystery</option>
            </select>
        </div>
        <div>    
            <label for="limit">Age Limit</label><br>
            <input class="form-input" id="limit" type="number" placeholder="Age Limit">
        </div>
        <div>
            <label for="banner">Banner</label><br>
            <input class="form-input" id="banner" type="text" placeholder="Banner">
        </div>
        <div>
            <label for="isSeries">Is Series</label>
            <input type="checkbox" name="isSearies" id="isSeries" value="true"><br>
        </div>
        <button class="submitBtn" id="submit" type="submit">Update</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const title = document.getElementById('title')
        const desc = document.getElementById('desc')
        const img = document.getElementById('img')
        const video = document.getElementById('video')
        const year = document.getElementById('year')
        const limit = document.getElementById('limit')
        const genre = document.getElementById('genre')
        const banner = document.getElementById('banner')
        const isSeries = document.getElementById('isSeries')
        const submitBtn = document.getElementById('submit')

        let movieId;
        // loading movie details 
        window.addEventListener('DOMContentLoaded',async(e)=>{
            try{
                // getting movieID from localStorage
                movieId = localStorage.getItem('editId')
    
                // getting movie info 
                let token = localStorage.getItem('token')
                let response = await axios.get(`http://localhost:3000/movie/find/${movieId}`,{headers:  {Authorization : token}})

                // filling inputs with movieInfo
                fillInputsWithMovieInfo(response.data.movie)
            }
            catch(err){
                console.log(err)
            }
            
        })
        
        submitBtn.addEventListener('click',async(e)=>{
            e.preventDefault()
            try{
                let obj = {
                    title : title.value,
                    desc : desc.value,
                    img : img.value,
                    video : video.value,
                    year : year.value,
                    banner : banner.value,
                    limit : limit.value,
                    genre : genre.value,
                    isSeries : isSeries.checked ? true : false
                }

                let token = localStorage.getItem('token')
                let response = await axios.put(`http://localhost:3000/movie/update/${movieId}`,obj,{headers:  {Authorization : token}})

                if (response.data.updatedMovie){
                    // going to allmovie page
                    localStorage.setItem('selected','all_movies')
                    window.parent.location.reload()
                }
                else{
                    console.log(response.data.msg)
                }

            }
            catch(err){
                console.log(err)
            }
        })

        //-------------------------------------------------------------------------//

        function fillInputsWithMovieInfo(movie){
            title.value = movie.title;
            desc.value = movie.desc;
            img.value = movie.img;
            video.value = movie.video;
            year.value = movie.year;
            limit.value = movie.limit;
            banner.value = movie.banner;
            genre.value = movie.genre;

            if(movie.isSeries){isSeries.checked = true}
        }

    </script>
</body>
</html>